@import "color-vars";

$monospace: Consolas, Menlo, Monaco, monospace;
$wf-monospace: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
$wf-bodytext: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-bodytext-italic: "Brando Italic", Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-sans-regular: brandosans-regular-v100, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-subheader: brandosans-semibold-v100, AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
$wf-heavy: "Brando Semibold", Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
$fw-light: 300;
$fw-medium: 400;
$fw-bold: 700;
$box-shadow: 1px 1px 0 $base06;
$rounded: 3px;
