@charset "utf-8";
@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: #dfe2f1 #f5f7ff;
}
html.theme-dark {
  scrollbar-color: hsl(229deg, 25%, 26%) #202746;
}

html,
body {
  height: 100%;
  background: #fff;
  font-family: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
}

.theme-dark,
.theme-dark body {
  background-color: hsl(229deg, 29%, 14%);
  color: #f5f7ff;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  background: inherit;
  color: #090a10;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
  hyphens: auto;
}

article, figcaption, figure, footer, header, nav, section {
  display: block;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -4em;
  padding-bottom: 4em;
  overflow: auto;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page a {
  box-shadow: inset 0 -2px 0 #b9d6ee;
  transition: all 0.3s ease-out;
}
.theme-dark .page a {
  box-shadow: inset 0 -2px 0 #25679c;
}

.page a:hover,
.page a:focus,
.page a:active {
  box-shadow: inset 0 -2em 0 #b9d6ee;
}
.theme-dark .page a:hover,
.theme-dark .page a:focus,
.theme-dark .page a:active {
  box-shadow: inset 0 -2em 0 #25679c;
}

header h1 a {
  color: #979db4;
}

header h1 a:hover,
footer a:hover {
  color: #c94922;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sup {
  font-size: 0.6em !important;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5rem;
  left: -0.25rem;
}

code {
  font-size: 1em;
}

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}

pre code:before,
pre code:after {
  content: normal;
}

code,
pre,
p code,
ul code,
ol code,
header h1 {
  font-family: Consolas, Menlo, Monaco, monospace;
}

p code,
ul code,
ol code {
  font-size: 0.85em;
  margin: 0;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  padding: 1px 0;
  border-radius: 3px;
  color: #723316;
}
.theme-dark p code,
.theme-dark ul code,
.theme-dark ol code {
  border-color: hsl(229deg, 27%, 20%);
  background-color: #202746;
  color: #e8a586;
}

p code:before,
p code:after,
ul code:before,
ul code:after,
ol code:before,
ol code:after {
  content: " ";
  letter-spacing: -0.2em;
}

strong em {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

p {
  margin: 0;
  padding: 0.5em 0;
}
.theme-dark p {
  word-spacing: 0.05em;
  letter-spacing: 0.05em;
}

.content-home h3 {
  font-size: 1.5rem;
}

.page h3 {
  font-size: 2em;
  line-height: 1;
}

img,
svg {
  border: 0;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

.icon {
  display: inline-block;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #dfe2f1;
}
.theme-dark ::-webkit-scrollbar-track {
  background-color: #202746;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #dfe2f1;
}
.theme-dark ::-webkit-scrollbar {
  background-color: #293256;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #979db4;
  border: 3px solid #dfe2f1;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.theme-dark ::-webkit-scrollbar-thumb {
  background-color: hsl(229deg, 25%, 26%);
  border-color: #202746;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #f5f7ff;
}
.theme-dark ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #202746;
}

pre {
  background-color: transparent;
  border: 1px solid #dfe2f1;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow: auto;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  word-wrap: normal;
  white-space: pre-wrap;
}
.theme-dark pre {
  border-color: hsl(229deg, 29%, 14%);
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  font-family: AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
  color: #293256;
  margin: 16px 4px 0.5rem 1px;
  padding: 4px 0 0 0;
  float: left;
  font-size: 174px;
  line-height: 0.65;
  height: 127px;
  -webkit-font-smoothing: antialiased;
}
.theme-dark .publication-list__item__content p:first-of-type:first-letter,
.theme-dark .page > p:first-of-type:first-letter {
  color: hsl(229deg, 23%, 68%);
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  margin-top: 0;
  margin-bottom: 0;
}

.page h2 {
  margin: 0.5rem 0 0.75em;
}
@media (min-width: 61.25em) {
  .page h2 {
    font-size: 3rem;
    -webkit-font-smoothing: antialiased;
  }
}
@media (min-width: 81.25em) {
  .page h2 {
    font-size: 4rem;
  }
}

h3 {
  margin: 1.5rem 0 0 0;
  padding: 0.75em 0 0;
  font-weight: normal;
  color: #293256;
}
.theme-dark h3 {
  color: hsl(229deg, 25%, 74%);
  letter-spacing: 0.75px;
}

h4 {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
}
.theme-dark h4 {
  font-family: AvenirNextCondensed-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
  font-weight: normal;
}

h4 {
  margin: 2em 0 0;
  padding: 1rem 0 0;
  text-transform: uppercase;
  color: hsl(229deg, 23%, 32%);
  font-size: 1.25rem;
}
.theme-dark h4 {
  color: hsl(229deg, 27%, 80%);
}

.nav_list li {
  margin: 3px;
}

.nav a {
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.4s, color 0.3s, border-color 0.3s;
  display: block;
  border-radius: 3px;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  color: transparent;
  transition: color 0.5s;
}
@media (min-width: 61.25em) {
  .nav a {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.has-nav-active .nav a {
  color: #5284cf;
}
.theme-dark .has-nav-active .nav a {
  color: #b6cbeb;
}

.no-js .nav a {
  color: #257fad;
}
.theme-dark .no-js .nav a {
  color: #b6cbeb;
}

.no-js .nav,
.has-nav-active .nav {
  height: auto;
  padding: 1rem 0 2rem;
  overflow: visible;
  background-color: #fff;
}
.theme-dark .no-js .nav,
.theme-dark .has-nav-active .nav {
  background-color: #000;
}

.has-nav-active .nav {
  box-shadow: inset 0 6px 12px rgba(25, 29, 46, 0.175);
}

.no-flexbox body,
.no-js body {
  position: relative;
}

.nav .active,
.nav a:hover,
.nav a:active,
.nav a:focus {
  border-color: #a2bde5;
}
.theme-dark .nav .active,
.theme-dark .nav a:hover,
.theme-dark .nav a:active,
.theme-dark .nav a:focus {
  border-color: #23487e;
}

.nav .active {
  pointer-events: none;
  cursor: default;
}

.nav_list li:first-child a {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  color: #fff;
  color: transparent !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5em;
}

.theme-switch {
  position: absolute;
  z-index: 0;
  top: 3.5rem;
  right: 1.25rem;
  color: hsl(229deg, 20%, 62%);
}
.page-type-index .theme-switch {
  right: auto;
  left: 1.25rem;
  top: 0.75rem;
}
.theme-switch_toggle {
  display: none;
}
.theme-switch_toggle:hover + .theme-switch_label {
  color: #3099cd;
}
.theme-switch_label {
  outline: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.publication-list__item__meta {
  font-size: 1rem;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: center;
  z-index: 1;
  position: relative;
  color: #979db4;
  background-color: #fff;
  padding-top: 0;
  max-width: 100%;
}
.theme-dark .publication-list__item__meta {
  color: hsl(229deg, 15%, 56%);
  background-color: hsl(229deg, 29%, 14%);
}

.page .publication-list__item__meta {
  margin: 3em 0 4em;
}

.publication-list__item__meta:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.6em;
  right: 0.6em;
  z-index: -1;
  border-top: 1px solid #c3c7d4;
  margin-top: 0.78em;
}
.theme-dark .publication-list__item__meta:after {
  border-top-color: hsl(229deg, 20%, 38%);
}

time {
  background-color: #fff;
  padding: 0 1em;
}
.theme-dark time {
  background-color: hsl(229deg, 29%, 14%);
}

.page p:first-of-type,
.page p:first-of-type em {
  font-weight: normal;
}

@media (min-width: 40em) {
  .page p:first-of-type {
    font-size: 1.75em;
  }
}

.page pre + h3 {
  margin-top: 3rem;
}

.page h3 + p {
  margin-top: -6px;
}

.no-flexbox p {
  max-width: 32em;
}

.page ul,
.page ol {
  margin: 0 0 0 -2.5rem;
  padding-bottom: 1.5em;
}

.page ul li > ul {
  margin-left: 0;
  margin-bottom: -1em;
  padding-left: inherit;
}

h4 + ul,
h4 + ol {
  padding-top: 0.25em;
  margin-bottom: -2em;
}

.page ul li {
  list-style: none;
  position: relative;
  margin-top: 0;
  margin-left: -0.75em;
  padding-left: 0.75em;
  text-indent: -0.25em;
}

.page ul li,
.page ol li {
  max-width: 36em;
}

.page ul li::before {
  content: " ·";
  font-size: 1.5em;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  color: #426653;
  padding-right: 3px;
  position: relative;
  top: -1px;
}
.theme-dark .page ul li::before {
  font-size: 2em;
  color: #79d279;
  top: -3px;
}

blockquote {
  position: relative;
  padding: 0.25em 0.75em 0.25em 2.25em;
  margin: 3em 0;
  background-color: transparent;
  color: #293256;
  font-style: italic;
}
.theme-dark blockquote {
  color: hsl(229deg, 20%, 62%);
}
@media (max-width: 39.99em) {
  blockquote {
    border-left: 0.75em solid #979db4;
  }
}
@media (min-width: 40em) {
  blockquote {
    margin-top: 6em;
    padding-bottom: 6em;
    margin-left: 20%;
  }
}

blockquote p,
blockquote dl {
  position: relative;
  z-index: 1;
}
@media (min-width: 40em) {
  blockquote p,
  blockquote dl {
    font-size: 24px !important;
    font-size: 1.5rem !important;
  }
}

@media (min-width: 40em) {
  blockquote::after {
    content: "“";
    position: absolute;
    top: 0;
    left: 0;
    margin: -16px 0 0 -35%;
    padding: 0;
    width: 315px;
    height: 225px;
    font: 664px/0.8 "Trebuchet MS", Georgia, serif;
    color: hsl(229deg, 29%, 86%);
    z-index: 0;
    overflow: hidden;
  }
}
.theme-dark blockquote::after {
  color: hsl(229deg, 25%, 26%);
}

.author {
  position: relative;
  top: 2.25em;
  float: right;
}

.read-more:after {
  content: "☛";
  font-size: 2em;
  color: #293256;
  display: inline-block;
  margin-left: 0.25em;
}

hr,
pre,
sup span {
  box-shadow: 1px 1px 0 #dfe2f1;
}
.theme-dark hr,
.theme-dark pre,
.theme-dark sup span {
  box-shadow: 1px 1px 0 hsl(229deg, 29%, 14%);
}

pre,
sup span {
  border-radius: 3px;
}

sup span {
  background-color: #fcf9f3;
  border: 1px solid #ddb879;
}

.note {
  background-color: #edd8b6;
  float: right;
  font-size: 0.875em;
  margin: 3em 0 2em;
  padding: 1.5em 1.5em 1.75em;
}
.theme-dark .note {
  background-color: #c08b30;
  color: #463211;
  border-image: none !important;
  letter-spacing: 0;
}

.is-loaded .note {
  border: 12px solid transparent;
  border-image: url(//atelierbram.github.io/frame-patterns/assets/svg/stamp_36x36_border-image.svg) 12 round round;
}

.note a {
  box-shadow: inset 0 -3px 0 #c08b30;
}

@supports (font-variant-caps: small-caps) {
  .small-caps {
    text-transform: lowercase;
    font-variant-caps: small-caps;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: -0.5px;
  }
}
.prevnext {
  clear: both;
  margin-bottom: 2em;
  padding-top: 8em;
  overflow: auto;
}
.prevnext li,
.prevnext a {
  display: inline-block;
}
.prevnext a {
  color: hsl(229deg, 25%, 26%);
  padding: 0.125em 0.65em;
}
.prevnext a:hover {
  color: #c94922;
  box-shadow: none !important;
}
.prevnext a:hover svg {
  fill: #c94922;
}
.theme-dark .prevnext a {
  color: hsl(229deg, 12%, 50%);
}
.theme-dark .prevnext a:hover {
  color: #e6886b;
}
.theme-dark .prevnext a:hover svg {
  fill: #e6886b;
}
.prevnext_pagenumbers {
  list-style: none;
  text-align: center;
  border-top: 1px solid #c3c7d4;
  padding-top: 2em;
}
.theme-dark .prevnext_pagenumbers {
  border-top-color: hsl(229deg, 20%, 38%);
}
.prevnext_pagenumbers_item-number {
  margin: 0 0.25em;
}
.prevnext_pagenumbers_item-number a {
  border: 1px solid transparent;
}
.prevnext_pagenumbers_item-number a:hover, .prevnext_pagenumbers_item-number a.selected {
  border-color: #c3c7d4;
}
.prevnext_pagenumbers_item-number a.selected {
  cursor: default;
  pointer-events: none;
}
.theme-dark .prevnext_pagenumbers_item-number a:hover, .theme-dark .prevnext_pagenumbers_item-number a.selected {
  border-color: hsl(229deg, 20%, 38%);
}

.page-type-index .prevnext {
  padding-left: 5%;
  padding-right: 5%;
}

.prevnext h5 {
  font-size: 1em;
  font-weight: normal;
}
@media (min-width: 61.25em) {
  .page-type-post .prevnext h5 {
    width: 50%;
  }
}

@media (min-width: 61.25em) {
  .page-type-post .prevnext .prevnext_left {
    float: left;
  }
  .page-type-post .prevnext .prevnext_right {
    float: right;
  }
}

.prevnext .prevnext_right,
.prevnext h5:nth-of-type(2) {
  text-align: right;
}

.prevnext h5 a {
  position: relative;
  display: block;
  padding: 0.25em 0;
  text-decoration: none;
  transition: color 0.3s;
  border-bottom: none;
  box-shadow: none !important;
}

.shape-icon {
  fill: #293256;
}
.theme-dark .shape-icon {
  fill: hsl(229deg, 12%, 50%);
}

.icon-8 {
  width: 10px;
  height: 15px;
  margin-top: -1px;
  vertical-align: top;
}

.icon-arrow-left {
  margin-right: 0.25em;
}

.icon-arrow-right {
  margin-left: 0.25em;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button:focus {
  z-index: 1;
  outline: none;
}

button:hover {
  text-decoration: none;
}

button::-moz-focus-inner,
button::-webkit-focus-inner {
  border: 0;
  outline: none;
  padding: 0;
}

.ui-gutter {
  padding: 0 1em 1em;
}
@media (min-width: 20em) {
  .ui-gutter {
    margin-top: -1.5em;
  }
}
@media (min-width: 40em) {
  .ui-gutter {
    margin-top: -2em;
  }
}

.btn {
  color: inherit;
  font: inherit;
  margin: 1em;
  text-transform: none;
  overflow: visible;
  outline: 0;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.3;
  box-sizing: inherit;
  display: inline-block;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-menu {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 42px;
  height: 42px;
}
.btn-menu:hover {
  cursor: pointer;
}
.btn-menu:hover .shape-airvent {
  animation-duration: 0.4s;
}
.btn-menu .shape-airvent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 42px;
  height: 42px;
  animation: spin 1s infinite linear forwards;
  z-index: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-menu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 69px;
  height: 69px;
  z-index: 1;
}

.page-wrap:after,
footer {
  height: 4em;
}

footer {
  color: #133913;
  background-color: #979db4;
  border-top: 1px solid #898ea4;
}
.theme-dark footer {
  color: hsl(229deg, 25%, 74%);
  background-color: hsl(229deg, 23%, 32%);
  border-top-color: hsl(229deg, 20%, 38%);
}

.no-js footer,
.no-flexbox footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

footer a {
  color: #0d260d;
  display: inline-block;
  padding: 1.5em 0;
}
.theme-dark footer a {
  color: hsl(229deg, 25%, 74%);
}
.theme-dark footer a:hover {
  color: hsl(229deg, 31%, 92%);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clear {
  overflow: auto;
}

.cp_embed_iframe {
  margin: 1em 0 2em;
  max-width: 43em;
}

/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool/)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */
code[class*=language-],
pre[class*=language-] {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-size: 14px;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  background: #f5f7ff;
  color: #5e6687;
}
.theme-dark code[class*=language-],
.theme-dark pre[class*=language-] {
  background: #202746;
  color: #979db4;
}

code.language-bash,
pre.language-bash {
  background: #202746;
  color: #979db4;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #dfe2f1;
}
.theme-dark pre[class*=language-]::-moz-selection, .theme-dark pre[class*=language-] ::-moz-selection,
.theme-dark code[class*=language-]::-moz-selection, .theme-dark code[class*=language-] ::-moz-selection {
  background: #898ea4;
}

pre.language-bash::-moz-selection, pre.language-bash ::-moz-selection,
code.language-bash::-moz-selection, code.language-bash ::-moz-selection {
  background: #898ea4;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #dfe2f1;
}
.theme-dark pre[class*=language-]::selection, .theme-dark pre[class*=language-] ::selection,
.theme-dark code[class*=language-]::selection, .theme-dark code[class*=language-] ::selection {
  background: #898ea4;
}

pre.language-bash::selection, pre.language-bash ::selection,
code.language-bash::selection, code.language-bash ::selection {
  background: #898ea4;
}

pre[class*=language-] {
  padding: 1.5em;
  margin: 3em 0;
  overflow: auto;
  max-width: 49em;
}

@media (min-width: 40em) {
  pre.language-bash {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 43em;
  }
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #898ea4;
}
.theme-dark .token.comment,
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata {
  color: #6b7394;
}

.language-bash .token.comment,
.language-bash .token.prolog,
.language-bash .token.doctype,
.language-bash .token.cdata {
  color: #6b7394;
}

.token.punctuation {
  color: #5e6687;
}
.theme-dark .token.punctuation {
  color: #979db4;
}

.language-bash .token.punctuation {
  color: #979db4;
}

.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c76b29;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #3d8fd1;
}

.token.string {
  color: #22a2c9;
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #ac9739;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.important {
  color: #c94922;
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.language-bash ::-webkit-scrollbar-track {
  background-color: #202746;
}

.language-bash ::-webkit-scrollbar {
  background-color: #293256;
}

.language-bash ::-webkit-scrollbar-thumb {
  background-color: #293256;
}

.language-bash ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #202746;
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(//fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
p code,
ul code,
ol code,
pre[class*=language-],
code,
pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
}

.small-caps,
body,
header h1,
h2,
i,
em,
strong em,
b,
strong {
  font-family: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.theme-dark .small-caps,
.theme-dark body,
.theme-dark header h1,
.theme-dark h2,
.theme-dark i,
.theme-dark em,
.theme-dark strong em,
.theme-dark b,
.theme-dark strong {
  font-family: "Brando ExtraLight", AvenirNext-UltraLight, AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
}

blockquote,
blockquote::after,
i,
em {
  font-family: "Brando Italic", Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-style: normal;
}

blockquote dt,
.publication-list__item__title,
h4,
.read-more,
h3,
h5,
.prevnext h5,
footer small {
  font-family: brandosans-semibold-v100, AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
  font-weight: normal;
}

.nav ul,
.theme-dark blockquote dt,
.theme-dark .publication-list__item__title,
.theme-dark h4,
.theme-dark .read-more,
.theme-dark h3,
.theme-dark h5,
.theme-dark .prevnext h5,
.theme-dark footer small,
[id=examples] ~ ul li,
[id=resources] ~ ul li,
[id=demo] ~ ul li,
.note,
footer small a {
  font-family: brandosans-regular-v100, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-weight: normal;
}

.theme-dark [id=examples] ~ ul li,
.theme-dark [id=resources] ~ ul li,
.theme-dark [id=demo] ~ ul li,
.theme-dark footer small a {
  letter-spacing: 1px;
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  font-family: "Brando Semibold", Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3,
  h4 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=style.css.map */