@import
"components/mq",
"components/color-vars",
"utilities/utilities",
"components/essentials",
"components/footer";

%overflow-hidden { overflow: hidden; }

body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.no-flexbox body {
  position: relative;
  min-height: 100%;
}

header h1 a {
  pointer-events: none;
  cursor: default;
}
.page-wrap {
  flex: 1;
  overflow-x: hidden;
  @include mq($until: tablet) {
  }
}
// Dropcap
// .publication-list__item__content::first-letter {
.dropcap {
  font-family: Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
  color: #333;
  margin: -5px 4px 1.5rem 1px;
  padding: 0;
  float: left;
  font-size: 160px;
  line-height: .9;
  height: 120px;
}
.dropcap--a {
  line-height: .98;
}
// .wf-active .publication-list__item__content::first-letter {
.wf-poplarstd-n4-active .dropcap {
  font-family: Poplar-std, Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
  margin-top: 0;
  margin-bottom: 8px;
}
.content {
  padding: 0 1em;
  margin-bottom: 3em;
  background-color: #fff;
}
.publication-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 100vh;

  @include mq($from: tablet) {
    font-size: 1.125rem;
  }
}
.publication-list__item {
  flex: 1 100%;
  max-width: 30em;
  flex-basis: 30em;
  margin: 0;
  @media (min-width: 768px) {
    flex: 1 1 30em;
  }
}
.no-flexbox .publication-list__item {
  display: inline-block;
  margin-right: 1em;
}
.publication-list__item__title {
  margin: 1em 0 .25em;
}
.publication-list__item__meta {
  font-size: 1rem;
  font-size: .875em;
  text-align: center;
  z-index: 1;
  position: relative;
  color: #666;
  background-color: #fff;
  padding-top: 0;
}
.publication-list__item__meta:after {
  content: "";
  position: absolute;
  top:0;bottom:0;left:.6em;right:.6em;
  z-index: -1;
  border-top: 1px solid #aaa;
  margin-top: .78em;
}
.wf-poplarstd-n4-active .publication-list__item__meta:after {
  margin-top: .8em;
}
time {
  background-color: #fff;
  padding: 0 1em;
}
.publication-list__item__content {
  @extend %overflow-hidden;
}
.wf-active .publication-list__item__content p {
  line-height: 1.4;
}
h3 a {
  // color: $dark04;
  color: #3c3c3c;
  padding: .6rem;
  display: block;
  transition: color .3s;
}
h3 a:hover {
  text-decoration: none;
  color: $red;
}
.truncate {
  width: 40%;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  @extend %overflow-hidden;
  display: inline-block;
}
.read-more {
  display: block;
  position: relative;
  border-radius: 3px;
  transition: padding .4s .4s, background-color .4s;
}
.read-more:hover,
.read-more:active {
  text-decoration: none;
}
.read-more:hover,
.read-more:active {
  background-color: rgba(black,.05);
  padding-left: 1em;
}
.read-more:focus {
  outline: 1px dotted #aaa;
}
.shape-arrow--broken {
  width: 35px;
  height: 10px;
  fill: $link-color;
  margin-left: .75em;
  margin-bottom: .05em;
  transition: margin-left .4s .8s;
}
.read-more:hover .shape-icon {
  margin-left: 40%;
}
