.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rar
*.ai

# Logs
npm-debug.log
node_modules
pids
logs
*.log

#sass cache files
.sass-cache

release
/tmp/
/temp/
dist
vector

# Docs, etc in underscore directory
_
_vector
_test
_patternlab
_doc
_draft

TODO.md

*.sublime-project
*.sublime-workspace
