lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rar
*.ai

npm-debug.log
node_modules
pids
logs

release
/tmp/
/temp/
dist
vector
_
_vector
_test
_patternlab
_doc
_draft

TODO.md

*.sublime-project
*.sublime-workspace
