{% extends "default" %}

{% block head_meta %}
{% endblock %}

{% block content_wrapper %}
    <article class="content page" id="page">
       {{ page.blocks.content|raw }}

    {% if page.pagination.previous_post or page.pagination.next_post %}
      <nav class="prevnext">
      {% if page.pagination.previous_post %}
      <h5 class="prevnext_left"><a href="../{{ page.pagination.previous_post.slug }}/" rel="prev"><i class="icon icon-8 icon-arrow-left"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-left"></use></svg></i> {{ page.pagination.previous_post.long_title }}</a></h5>
      {% endif %}
      {% if page.pagination.next_post %}
        <h5 class="prevnext_right"><a href="../{{ page.pagination.next_post.slug }}/" rel="next">{{ page.pagination.next_post.long_title }}<i class="icon icon-8 icon-arrow-right"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-right"></use></svg></i></a></h5>
      {% endif %}
      </nav>
    {% endif %}
    </article>
</div><!-- .inner-wrap -->
{% endblock %}
