{% extends "default" %}

{% block head_meta %}
{% endblock %}

{% block content_wrapper %}
    <article class="content page" id="page">
       {{ page.blocks.content|raw }}

    {% if page.previous_post or page.next_post %}
      <nav class="prevnext">
      {% if page.previous_post %}
      <h5><a href="../{{ page.previous_post.slug }}/" rel="prev"><i class="icon icon-8 icon-arrow-left"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-left"></use></svg></i> {{ page.previous_post.title }}</a></h5>
      {% endif %}
      {% if page.next_post %}
        <h5><a href="../{{ page.next_post.slug }}/" rel="next">{{ page.next_post.title }}<i class="icon icon-8 icon-arrow-right"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-right"></use></svg></i></a></h5>
      {% endif %}
      </nav>
    {% endif %}

    </article>

{% endblock %}
