// @import
// "mq",
// "color-vars",
// "settings";
//
// mark { background: #ff0; color: #000; }
// abbr[title] { border-bottom: 1px dotted; }

// hr { padding: 1px; border: 1px solid #ccc; box-sizing: content-box; height: 0; }
pre {
  background-color: transparent;
  border: 1px solid $base06;
  font-size: .875rem;
  line-height: 1.5;
  overflow: auto;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  word-wrap: normal;
  white-space: pre-wrap;

  .theme-dark & {
    border-color: $dark01;
  }
}


// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   @extend %monospace;
//   background: #f7f7f7;
// }
// .wf-sourcecodepro-n4-active table {
//   @extend %wf-monospace;
// }
//
// thead {
//   display: table-header-group;
// }
// thead th {
//   border-bottom: 1px solid #999;
//   text-align: right;
//   font-size: 1.125em;
//   text-transform: uppercase;
//   font-weight: bold;
//   background: #ddd;
// }
// thead th:nth-of-type(1) {
//   text-align: left;
// }
// th, td {
//   padding: .5em 1em;
// }
// zebra stripes
// tr:nth-of-type(even) {
//   background: rgba(0,0,0,.125);
// }
