.page p:first-of-type,
.page p:first-of-type em {
  font-weight: normal;
}
.page p:first-of-type {
  @include mq($from: tablet) {
    font-size: 1.75em;
  }
}
.page pre + h3 {
  margin-top: 3rem;
}
// .page blockquote + h3 {
//   @include mq($from: tablet) {
//     margin-top: -2rem;
//   }
// }
.page h3 + p {
  margin-top: -6px;
  // border-top: 1px solid $base01;
  // position: relative;
}
// cut a piece of the long line
// .page h3 + p::after {
//   content: "";
//   position: absolute;
//   top:0;right:0;
//   width: 215px;
//   height: .5rem;
//   background-color: #fff;
//   margin-right: -221px;
//   margin-top: -5px;
// }
.no-flexbox p {
  max-width: 32em;
}
.page ul,
.page ol {
  margin: 0 0 0 -2.5rem;
  padding-bottom: 1.5em;
}
.page ul li > ul {
  margin-left: 0;
  margin-bottom: -1em;
  padding-left: inherit;
}

h4 + ul,
h4 + ol {
  padding-top: .25em;
  margin-bottom: -2em;
}
.page ul li {
  list-style: none;
  position: relative;
  margin-top: 0;
  margin-left: -.75em;
  padding-left: .75em;
  text-indent: -.25em;
  // .theme-dark & a,
  // > a {
  //   box-shadow: none;
  // }
  // }
}
.page ul li,
.page ol li {
  max-width: 36em;
}
.page ul li::before {
  content: " \B7"; // middot in unicode -> &middot;
  font-size: 1.5em;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  color: $dark_cyan-green;
  padding-right: 3px;
  position: relative;
  top: -1px;
  .theme-dark & {
    font-size: 2em;
    color: $light_green-yellow;
    top: -3px;
  }
}
blockquote {
  position: relative;
  padding: .25em .75em .25em 2.25em;
  margin: 3em 0;
  background-color: transparent;
  color: $base01;
  // font-family: AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, Georgia, serif;
  font-style: italic;

  .theme-dark & {
    color: $light08;
  }

  @include mq($until: tablet) {
    border-left: .75em solid $base05;
  }

  @include mq($from: tablet) {
    margin-top: 6em;
    padding-bottom: 6em;
    margin-left: 20%;
  }
}

blockquote p,
blockquote dl {
  position: relative;
  z-index: 1;
  @include mq($from: tablet) {
    font-size: 24px !important;
    font-size: 1.5rem !important;
  }
}

blockquote::after {
  @include mq($from: tablet) {
    content: "“";
    position: absolute;
    top:0;left:0;
    margin: -16px 0 0 -35%;
    padding: 0;
    width: 315px;
    height: 225px;
    font: 664px/.8 "Trebuchet MS", Georgia, serif;
    color: $light04;
    z-index: 0;
    overflow: hidden;
  }

  .theme-dark & {
    color: $dark03;
  }
}
.author {
  position: relative;
  top: 2.25em;
  float: right;
}
// .wf-active blockquote::after {
//  font-style: normal;
//   margin: -40px 0 0 -40%;
// }
.read-more:after {
  content: "\261B";
  font-size: 2em;
  color: $base01;
  display: inline-block;
  margin-left: .25em;
}

hr,
pre,
sup span {
  box-shadow: $box-shadow;

  .theme-dark & {
    box-shadow: 1px 1px 0 $dark01;
  }
}

pre,
sup span {
  border-radius: $rounded;
}
sup span {
  background-color: $light_yellow00;
  border: 1px solid $light_yellow;
}

.note {
  background-color: $light_yellow02;
  float: right;
  font-size: .875em;
  margin: 3em 0 2em;
  padding: 1.5em 1.5em 1.75em;
  .theme-dark & {
    background-color: $dark_yellow08;
    color: $dark_yellow01;
    border-image: none !important;
    // font-family: AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans","Liberation Sans", sans-serif;
    letter-spacing: 0;
  }
}

.is-loaded .note {
  border: 12px solid transparent;
  border-image: url(//atelierbram.github.io/frame-patterns/assets/svg/stamp_36x36_border-image.svg) 12 round round;
}

.note a {
  box-shadow: inset 0 -3px 0 $yellow;
}

@supports (font-variant-caps:  small-caps) {
  .small-caps {
    text-transform: lowercase;
    font-variant-caps: small-caps;
    font-weight: 600;
    letter-spacing: .5px;
    word-spacing: -.5px;
  }
}
