     </article><!-- .content -->
  </div><!-- .nav-content-wrap -->
</div><!-- page-wrap -->
<footer><small><a href="{{var.atelier}}">{{var.org}}</a> &middot; <a href="{{var.license-url}}">&copy; {{var.year}}</a></small></footer>
