<div class="page-wrap" id="pageWrap">
  <div class="inner-wrap" id="innerWrap">
    <nav class="nav" id="nav">
   <!--   http://www.prototype-generator.com/templating-in-pg/template-helpers.html http://stackoverflow.com/questions/25878099/assemble-handlebars-sort-order -->
   <ul class="nav_list" id="navList">{{#withSort pages 'data.sortOrder'}}<li><a href="{{autolink}}" {{isActive}}>{{data.short-title}}</a></li>{{/withSort}}</ul></nav>

  <!-- <path fill="#4B4B4B" d="M47,60L0,10C0,10,2.5,0,10,0c9.125,0,15,5,15,5l55,55l&#45;55,55c0,0&#45;5.75,5&#45;15,5c&#45;7.438,0&#45;10&#45;10&#45;10&#45;10L47,60z"/> -->
<svg style="display:none;" fill="#3F4664">
  <symbol id="shape-arrow-point-left" width="10" height="15" viewBox="0 0 8 12">
    <path d="M0.864,5.359l5.792-3.296v1.584L2.88,5.792L6.656,7.92v1.6L0.864,6.224V5.359z"/>
  </symbol>
  <symbol id="shape-arrow-point-right" width="10" height="15" viewBox="0 0 8 12">
    <path d="M1.248,7.936l3.76-2.128l-3.76-2.144v-1.6L7.04,5.359v0.864L1.248,9.52V7.936z"/>
  </symbol>

</svg>

    <article class="content page" id="page">
