<!doctype html>
<html class="no-js core no-flexbox wf-inactive" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.long_title }} | {{ site.subtitle }}{% endblock %}</title>
    {% if site.description %}<meta name="description" content="{{page.description}}"/>{% endif %}
    {% if page.page_type == "index" %}<style>{% include "homeheadstyles-css.inc" %}</style>{% endif %}
    {% if page.page_type == "index" %}<link rel="prefetch" href="{{ site.slug }}/assets/js/prism-custom.min.js">{% endif %}
    {% if page.page_type == "index" %}<link rel="prefetch" href="{{ site.slug }}/assets/css/prefixed/style.min.css?v3">{% endif %}
    {% if page.page_type == "post" %}<style>{% include "critical-css.inc" %}</style>{% endif %}

    <style>{% include "btn-menu-svg-bg.inc" %}</style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bram de Haan">
    <link rel="author" href="https://plus.google.com/+BramdeHaan/posts">
    <script>{% include "head-detect-js.inc" %}</script>
    {% if page.page_type == "post" %}<script>{% include "load-css-js.inc" %} loadCSS( "{{ site.slug }}/assets/css/prefixed/style.min.css?v2" );</script><noscript><link href="{{ site.slug }}/assets/css/prefixed/style.min.css?v3" rel="stylesheet"></noscript>{% endif %}
  </head>
  <body class="{% if page.slug %}page-{{ page.slug }}{% endif %} {% if page.page_type %}page-type-{{ page.page_type }}{% endif %}" {% if page.id %}id="{{ page.id|replace({'_':'-'}) }}"{% endif %}>
    {% include "icons-svg.inc" %}
    {% include "header.twig" %}
    {% if page.page_type == "post" %}{% include "nav.twig" %}{% endif %}
    {% if page.page_type == "post" %}<h2 id="{{ page.slug }}" class="title-post">{{ page.index_title }}</h2>{% endif %}
    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    {% include "footer.twig" %}

    {% if page.script %}<script>{% include page.script %}</script>{% endif %}

    {% if page.page_type == "post" %}<script>{% include "insert-svg-js.inc" %}</script> {% endif %}
    {% if page.page_type == "post" %}<script src="{{ site.slug }}/assets/js/prism-custom.min.js"></script>{% endif %}
    <script>{% include "fontfaceobserver-js.inc" %}</script>
    <script>var observer = new FontFaceObserver('Brando'); observer.check(null, 5000).then(function () { console.log('Font is available'); document.documentElement.className = document.documentElement.className.replace(/\bwf-inactive\b/g, '') + ' wf-active '; }, function () { console.log('Font is not available after waiting 5 seconds'); });</script>
    <div class="theme-switch">
      <input class="theme-switch_toggle" id="themeSwitchToggle" type="checkbox">
      <label class="theme-switch_label" for="themeSwitchToggle"><svg width="20" height="20" fill="currentColor"><use xlink:href="#shape-sunmoon" /></svg><span class="visuallyhidden">light or dark theme</span></label>
  </div>

<script>
// https://codepen.io/atelierbram/pen/oNgRyPb
// https://codyhouse.co/blog/post/store-theme-color-preferences-with-localstorage
(function() {
  // Theme switch
  var themeSwitch = document.getElementById('themeSwitchToggle');
  if(themeSwitch) {
    initTheme(); // if user has already selected a specific theme -> apply it
    themeSwitch.addEventListener('change', function(event){
      resetTheme(); // update color theme
    });

    function initTheme() {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
       document.documentElement.classList.add('theme-dark');
       window.localStorage.setItem('themeSwitch','dark');
      }

      var darkThemeSelected = (localStorage.getItem('themeSwitch') !== null && localStorage.getItem('themeSwitch') === 'dark');
      // update checkbox
      themeSwitch.checked = darkThemeSelected;

      // update class on html element
      darkThemeSelected ? document.documentElement.classList.add('theme-dark') : document.documentElement.classList.remove('theme-dark');
    };

    function resetTheme() {
      if(themeSwitch.checked) { // dark theme has been selected
        document.documentElement.classList.add('theme-dark');
        localStorage.setItem('themeSwitch', 'dark');
      } else {
        document.documentElement.classList.remove('theme-dark');
        localStorage.removeItem('themeSwitch');
      }
    };
  }
}());
</script>
  </body>
</html>
