<!doctype html>
<html class="no-js core no-flexbox">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
    {{#is type "home" }}<style>{{> homeheadstyles}}</style>{{/is}}
    {{#is type "page" }}<link href="{{assets}}/prefixed/style.min.css" rel="stylesheet">{{/is}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="author" href="https://plus.google.com/+BramdeHaan/posts">
    <script>{{> head-detect-js}}</script>
</head>
<body>
{{> body }}
{{#is page-id "id-01" }}<script>{{> script-id-01-js}}</script>{{/is}}
{{#is page-id "id-02" }}<script>{{> script-id-02-js}}</script>{{/is}}
{{#is page-id "id-03" }}<script>{{> script-id-03-js}}</script>{{/is}}
{{#is page-id "id-04" }}<script>{{> script-id-04-js}}</script>{{/is}}
 {{#is type "page" }}<script defer src="{{assets}}/main.min.js"></script>{{/is}}
</body>
</html>
