@import
"mq",
"color-vars",
"settings";

$nav-width: 12rem;

p {
  padding: .5em 0;
   @include mq($from: tablet) {
    font-size: 1.25em;
    max-width: 34em;
  }
}
li p {
  @include mq($from: tablet) {
    font-size: 1rem;
    max-width: 100%;
  }
}

.page h3,
.page h4 {
  font-family: AvenirNextCondensed-Regular, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  margin: 0;
  padding: 1rem 0 0;
  font-weight: normal;
}
.page h3 {
  margin-top: 1rem;
  border-bottom: 2px solid #3c3c3c;
  margin-left: -.35rem;
  padding-left: .35rem;
}

.wf-europa-n4-active h3,
.wf-europa-n3-active h4 {
  font-family: Europa, AvenirNextCondensed-Regular, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
}
.wf-europa-n4-active h3 {
  font-weight: 400;
}
.wf-europa-n3-active h4 {
  font-weight: 300;
}
h2 {
  color: $yellow-orange;
}
h3, h4, h5, h6 {
  color: $base01;
}

.page pre + h3 {
  margin-top: 2rem;
}
.page h3 + p {
  margin-top: 1px;
  border-top: 1px solid $base01;
}
h4 {
  font-family: AvenirNextCondensed-Regular, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  margin: 0;
  padding: 1rem 0 0;
  font-weight: normal;
}

// #examples,
// #resources,
// #notes {
//   border-bottom: none;
// }
.no-flexbox p {
  max-width: 32em;
}
.page-wrap {
  flex: 1;
  overflow-x: hidden;
  @include mq($until: tablet) {
  }
}
.page {
  padding: 1em 2em;
  background-color: #fff;
  max-width: 60em;
  margin: 0 auto;

  @include mq($until: tablet) {
    flex: 1;
    z-index: 1;
  }
}
.no-flexbox .page {
  padding-bottom: 5em;
}

.ui-gutter {
  text-align: left;
}

.truncate {
  font-size: .5em;
  max-width: 50%;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.page ul,
.page ol {
  margin: 0 0 0 -2.5rem;
  padding-top: 1em;
  padding-bottom: 1.5em;
}
.page h4 + ul,
.page h4 + ol {
  padding-top: .25em;
}
.page ul li {
  list-style: none;
  position: relative;
  margin-left: -.75em;
  margin-top: 0;
  padding-left: .75em;
}
.page ul li,
.page ol li {
  max-width: 43em;
}
.page ul li::before {
  content: "";
  position: absolute;
  top:.665em;left:0;
  padding: 1px;
  height: 1px;
  width: 1px;
  background-color: $green;
  border: 1px solid $dark_green06;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
}
blockquote p  {
  position: relative;
  z-index: 1;
}
blockquote::after {
  content: "“";
  position: absolute;
  top:0;left:0;
  margin: -16px 0 0 -30%;
  padding: 0;
  width: 290px;
  height: 200px;
  font: 664px/.8 "Trebuchet MS", Georgia, serif;
  color: rgba(black,.3);
  z-index: 0;
}
.wf-europa-n7-active blockquote::after {
  font-family: Europa, "Trebuchet MS", Georgia, serif;
  font-weight: 700;
  font-style: italic;
  margin: -40px 0 0 -40%;
}
figure {
  margin: 1em auto 1em 0;
  max-width: 40em;
}
figcaption pre {
  background-color: #f8f8f8;
  margin-top: -.6em;
  white-space: pre-line;
  padding-top: 2em;
}
