@import
"mq",
"color-vars",
"settings";

// $nav-width: 12rem;

p {
  padding: .5em 0;
   @include mq($from: tablet) {
    font-size: 1.25em;
    max-width: 34em;
  }
}
li p {
  @include mq($from: tablet) {
    font-size: 1rem;
    max-width: 100%;
  }
}

// moved with javascript to .innerwrap for large and wide heading ...
.has-moved-h2 {
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

// font-sizes on smaller screens for heading
.fs-3_75 {
    font-size: 3.75rem;
}
// font-sizes scaling with screen-width for heading
@include mq($from: tablet) {
  .has-moved-h2 {
    margin: 1rem 1rem 0;
  }
  .fs-desktop-vw-5_25 {
    font-size: 5.25vw;
  }
  .fs-desktop-vw-6_25 {
    font-size: 6.25vw;
  }
  .fs-desktop-vw-6_75 {
    font-size: 6.75vw;
  }
  .fs-desktop-vw-7_25 {
    font-size: 7.25vw;
  }
  .fs-desktop-vw-17_25 {
    font-size: 17.25vw;
  }
}

.page-wrap {
  flex: 1;
  overflow-x: hidden;
  @include mq($until: tablet) {
  }
}
.page {
  padding: 1em 2em;
  background-color: #fff;
  max-width: 60em;
  margin: 0 auto;
  line-height: 1.6;

  @include mq($until: tablet) {
    flex: 1;
    z-index: 1;
  }
}
.no-flexbox .page {
  padding-bottom: 5em;
}

.ui-gutter {
  text-align: left;
}

// .truncate {
//   font-size: .5em;
//   max-width: 50%;
//   text-overflow: ellipsis;
//   vertical-align: middle;
//   white-space: nowrap;
//   overflow: hidden;
//   display: inline-block;
// }

