@import
"mq",
"color-vars",
"settings";

$nav-width: 12rem;

p {
  padding: .5em 0;
   @include mq($from: tablet) {
    font-size: 1.25em;
    max-width: 34em;
  }
}
li p {
   @include mq($from: tablet) {
    font-size: 1rem;
    max-width: 100%;
  }
}

.content h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  // border-bottom: 2px solid $dark04;
  border-bottom: 2px solid #3c3c3c;
}
.content pre + h3 {
  margin-top: 2rem;
}
.content h3 + p {
  margin-top: 1px;
  border-top: 1px solid $base01;
}
#examples,
#resources,
#notes {
  border-bottom: none;
}
.no-flexbox p {
  max-width: 32em;
}
.page-wrap {
  flex: 1;
    overflow-x: hidden;
  @include mq($until: tablet) {
  }
}
.content {
  padding: 1em 2em;
  background-color: #fff;
  max-width: 60em;
  margin: 0 auto;

  @include mq($until: tablet) {
    flex: 1;
    z-index: 1;
  }
}
.no-flexbox .content {
  padding-bottom: 5em;
}

.ui-gutter {
  text-align: left;
//   @include mq($until: tablet) {
//     background-color: #eee;
//   }
}

.truncate {
  font-size: .5em;
  max-width: 50%;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.content ul,
.content ol {
  margin: 0 0 0 -2.5rem;
  padding-top: 1em;
  padding-bottom: 1.5em;
}
.content h3+ul,
.content h3+ol {
  padding-top: .5em;
}
.content ul li {
  list-style: none;
  position: relative;
  margin-left: -.75em;
  margin-top: 0;
  padding-left: .75em;
}
.content ul li,
.content ol li {
  max-width: 43em;
}
.content ul li::before {
  content: "";
  position: absolute;
  top:.55em;left:0;
  color: #666;
  padding: 2px;
  height: 1px;
  width: 1px;
  // background-color: #3ca555;
  background-color: $green;
  // border: 1px solid #666;
  border: 1px solid $dark_green06;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  font-size: 1em;
}
blockquote p  {
  position: relative;
  z-index: 1;
}
blockquote::after {
  content: "“";
  position: absolute;
  top:0;left:0;
  margin: -16px 0 0 -30%;
  padding: 0;
  width: 290px;
  height: 200px;
  font: 664px/.8 "Trebuchet MS", Georgia, serif;
  color: rgba(black,.3);
  z-index: 0;
}
.wf-active blockquote::after {
  font-family: Europa, "Trebuchet MS", Georgia, serif;
  font-weight: 700;
  font-style: italic;
  margin: -40px 0 0 -40%;
}
figure {
  margin: 1em auto 1em 0;
  max-width: 40em;
}
figcaption pre {
  background-color: #f8f8f8;
  margin-top: -.6em;
  white-space: pre-line;
  padding-top: 2em;
}
