button {
  color: inherit;
  font: inherit;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button:focus {
  z-index: 1;
  outline: none;
}
button:hover {
  text-decoration: none;
}

button::-moz-focus-inner,
button::-webkit-focus-inner {
  border: 0;
  outline: none;
  padding: 0;
}

.ui-gutter {
  padding: 0 1em 1em;

  @include mq($from: mobile) {
    margin-top: -1.5em;
  }
  @include mq($from: tablet) {
    margin-top: -2em;
  }
}
.btn {
  overflow: visible;
  outline: 0;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.3;
}
.has-nav-active .btn {
  z-index: 1;
}
.btn-menu {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.shape-airvent {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  width: 42px;
  height: 42px;
}

// loaded with .no-svg support
// .no-js .btn-menu no javascript, then not hidden, but no button needed
.wf-active.no-svg .btn-menu {
  background: #ddd url(https://lh4.googleusercontent.com/-2kq22Bju9mw/VFQHsrbt-aI/AAAAAAAABC0/C_QHkvw91xo/s800/hamburger-menu_42x32.png) no-repeat 0 0;
}
