// Dropcap
.dropcap {
  font-family: Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
  color: $base01;
  margin: -5px 4px 0.5rem 1px;
  padding: 0;
  float: left;
  font-size: 142px;
  line-height: 1;
  height: 127px;
  -webkit-font-smoothing: antialiased;
}
.wf-active .dropcap {
  margin-top: 0;
  margin-bottom: 0;
}
