@import
"mq",
"color-vars",
"settings";

pre {
  @extend %rounded;
  background-color: transparent;
  border: 1px solid #ddd;
  font-size: .875rem;
  line-height: 1.5;
  overflow: auto;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  word-wrap: normal;
  white-space: pre-wrap;
}
code, kbd, pre, samp {
  @extend %monospace;
}
code, kbd, samp { font-size: 1em; }
pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}
pre code:before,
pre code:after {
  content: normal;
}
p code,
ul code {
  @extend %monospace;
  font-size: .875em;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 2px 0 0 0;
}
p code:before,
p code:after,
ul code:before,
ul code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
hr,
pre {
  @extend %box-shadow;
}
blockquote {
  position: relative;
  padding: .75em 1.5em;
  margin: 1em 0 1em 20%;
  background-color: transparent;
  color: rgba(black,.8);
  font-family: AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, Georgia, serif;
  font-style: italic;
  z-index: 1;
}
.wf-active blockquote {
  font-family: Europa, AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, Georgia, serif;
}

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
// moved to .btn
// button {
//   -webkit-appearance: none;
//   overflow: visible;
//   border-radius: 4px;
//   background-clip: padding-box;
//   background-color: #ddd;
//   background-image: linear-gradient(to bottom, white, #ddd);
//   border: 1px solid;
//   border-color: #ccc #bbb #b3b3b3;
//   cursor: pointer;
//   color: #333;
//   display: inline-block;
//   outline: 0;
//   overflow: visible;
//   margin: 0 0 .5em .75em;
//   padding: 1em 2em;
//   text-shadow: white 0 1px 1px;
//   text-decoration: none;
//   vertical-align: top;
//   width: auto;
//   font-size: 16px;
//   line-height: 1.3;
// }
button:invalid {
  box-shadow:none;
}
button:focus {
  box-shadow: #06f 0 0 5px 0;
  z-index: 1;
}
button:hover {
  background-color: #ccc;
  text-decoration: none;
}
button:active {
  background-color: #bbb;
  box-shadow: inset rgba(black, 0.25) 0 1px 2px 0;
  border-color: #888 #999 #aaa;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto;
}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #f7f7f7;
}
thead {
  display: table-header-group;
}
thead th {
  border-bottom: 1px solid #999;
  text-align: right;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: bold;
  background: #ddd;
}
thead th:nth-of-type(1) {
  text-align: left;
}
th, td {
  padding: .5em 1em;
}
/* zebra stripes */
tr:nth-of-type(even) {
  background: rgba(0,0,0,.125);
}

@include mq($from: desktop) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    padding: .5em 0 .5em 1em;
  }
}

