@import
"mq",
"color-vars",
"settings";

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
html,
body {
  height: 100%;
  background: #fff;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  font-family: AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans","Liberation Sans", sans-serif;
  background: inherit;
  color: $base00;
  box-sizing: border-box;
}
// .wf-active:not[data-platform='iPad'] body {}
// this will not work with child-selectors
.wf-europa-n3-active body {
  font-family: Europa, AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans","Liberation Sans", sans-serif;
  font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a {
  background: transparent;
  color: $link-color;
  text-decoration: none;
  transition: color, text-decoration .3s;
}
a:active,
a:hover {
  outline: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: $link-hover-color;
}
header h1 a:hover,
footer  a:hover {
  text-decoration: none;
  color: $red;
}

b, strong { font-weight: bold; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

code, pre {
  @extend %monospace;
}

.wf-sourcecodepro-n4-active pre[class*="language-"],
.wf-sourcecodepro-n4-active code,
.wf-sourcecodepro-n4-active pre {
  @extend %wf-monospace;
}
code { font-size: 1em; }
pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}
pre code:before,
pre code:after {
  content: normal;
}
p code,
ul code,
ol code {
  @extend %monospace;
  font-size: .875em;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 2px 0 0 0;
}
p code:before,
p code:after,
ul code:before,
ul code:after,
ol code:before,
ol code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

.wf-sourcecodepro-n4-active p code,
.wf-sourcecodepro-n4-active ul code,
.wf-sourcecodepro-n4-active ol code {
  @extend %wf-monospace;
  padding: 1px 0;
}
.publication-list__item__title,
.page h2 {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
}

// .wf-active:not[data-platform='iPhone'] h3,
// this will not work with child-selectors
//
//js enhanced flexbox svg wf-sourcecodepro-n4-active wf-active wf-europa-i3-inactive wf-europa-i4-inactive wf-europa-i7-inactive wf-europa-n3-inactive wf-europa-n4-inactive wf-europa-n7-inactive wf-poplarstd-n4-inactive
.wf-europa-n4-active .publication-list__item__title,
.wf-europa-n7-active .page h2 { font-family: Europa, AvenirNextCondensed-DemiBold, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
}
.wf-europa-n4-active .publication-list__item__title {
  font-weight: 400;
}
.wf-europa-n7-active .page h2 {
  font-weight: 700; }

b, strong, thead th, button, footer a {
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande","Segoe Ui","Trebuchet Ms", Verdana, sans-serif;
}
.wf-europa-n4-active b, .wf-europa-n4-active strong, .wf-europa-n4-active thead th, .wf-europa-n4-active button, .wf-europa-n4-active footer a {
  font-family: Europa, AvenirNextCondensed-DemiBold, "Lucida Grande","Segoe Ui","Trebuchet Ms", Verdana, sans-serif;
  font-weight: 400;
}
strong em {
  font-family:  AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
  font-weight: bold;
}
.wf-europa-i4-active strong em {
  font-family:  Europa, AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
  font-weight: 400;
}
i,em {
  font-family:  AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", Verdana, sans-serif;
  font-style: italic;
}
.wf-europa-i3-active i,
.wf-europa-i3-active em {
  font-family:  Europa, AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", Verdana, sans-serif;
  font-weight: 300;
}

header,
footer {
  text-align: center;
}
header {
  background-color: adjust-color($base07,$lightness: 1.5%);
  min-height: 3.5rem;
  @include mq($from: tablet) {
    border-bottom: 1px solid $base07;
  }
}

header h1 {
  @extend %monospace;
  font-size: 1.75rem;
  line-height: 1.25;
  margin: 0;
  padding: .5rem 3rem .25rem 1rem;
  text-align: right;
  font-weight: normal;

  @include mq($until: tablet) {
    margin-left: 1em;
  }
}
header h1,
header h1 a {
  color: $dark04;
}
.wf-europa-n3-active header h1 {
  font-family: Europa, Consolas, Menlo, Monaco, monospace;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
}
.page h2 {
  margin: .5rem 0 .75em;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  margin: 0;
  padding: .5em 0;
}
::selection,
::moz-selection {
  text-shadow: none;
  background: $base06;
}
.page h2 {
  @include mq($from: desktop) {
    font-size: 3rem;
  }
  @include mq($from: wide) {
    font-size: 4rem;
  }
}

@include mq($from: desktop) {
  p {
    padding: .5em 0 .5em 1em;
  }
}

