@import
"mq",
"color-vars",
"settings";

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
html,
body {
  height: 100%;
  background: #fff;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  font-family: AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans","Liberation Sans", sans-serif;
  background: inherit;
  color: $base00;
  box-sizing: border-box;
}
// .wf-active:not[data-platform='iPad'] body {}
// this will not work with child-selectors
.wf-active body {
  font-family: Europa, AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans","Liberation Sans", sans-serif;
  font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a {
  background: transparent;
  color: $link-color;
  text-decoration: none;
  transition: color, text-decoration .3s;
}
a:active,
a:hover {
  outline: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: $link-hover-color;
}
header h1 a:hover {
  text-decoration: none;
  color: $red;
}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img,svg { border: 0; max-width: 100%;}
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { padding: 1px; border: 1px solid #ccc; box-sizing: content-box; height: 0; }

h2, h3 {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  margin: 0;
  padding: 1rem 0 0;
}

// .wf-active:not[data-useragent*='Chrome'][data-platform='MacIntel'] h2,
// .wf-active:not[data-useragent*='Chrome'][data-platform='MacIntel'] h3,
// .wf-active:not[data-useragent*='Safari'] h2,
// .wf-active:not[data-useragent*='Safari'] h3,
// .wf-active:not[data-platform='iPad'] h2,
// .wf-active:not[data-platform='iPad'] h3,
// .wf-active:not[data-platform='iPhone'] h2,
// .wf-active:not[data-platform='iPhone'] h3,
// this will not work with child-selectors
.wf-active h2,
.wf-active h3 {
  font-family: Europa, AvenirNextCondensed-DemiBold, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
}
.wf-active h2 {
  font-weight: 700;
}
.wf-active h3 {
  font-weight: 400;
}

h2 {
  color: $yellow-orange;
}
h3, h4, h5, h6 {
  color: $base01;
}

b, strong, thead th, button, footer a {
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande","Segoe Ui","Trebuchet Ms", Verdana, sans-serif;
}
.wf-active b, .wf-active strong, .wf-active thead th, .wf-active button, .wf-active footer a {
  font-family: Europa, AvenirNextCondensed-DemiBold, "Lucida Grande","Segoe Ui","Trebuchet Ms", Verdana, sans-serif;
  font-weight: 400;
}
strong em {
  font-family:  AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
  font-weight: bold;
}
.wf-active strong em {
  font-family:  Europa, AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
  font-weight: 400;
}
// em {
//   font-family: AvenirNext-MediumItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
// }
// .wf-active em {
//   font-family: Europa, AvenirNext-MediumItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel, "Segoe Ui", "Trebuchet Ms", Verdana, sans-serif;
//   font-weight: 400;
// }
i,em {
  font-family:  AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", Verdana, sans-serif;
  font-style: italic;
}
.wf-active i,
.wf-active em {
  font-family:  Europa, AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", Verdana, sans-serif;
  font-weight: 300;
}

header,
footer {
  text-align: center;
}
header {
  background-color: adjust-color($base07,$lightness: 1.5%);
  min-height: 3.5rem;
  @include mq($from: tablet) {
    border-bottom: 1px solid $base07;
  }
}

header h1 {
  @extend %monospace;
  font-size: 1.75rem;
  line-height: 1.25;
  margin: 0;
  padding: .5rem 3rem .25rem 1rem;
  text-align: right;
  font-weight: normal;

  @include mq($until: tablet) {
    margin-left: 1em;
  }
}
header h1,
header h1 a{
  color: $dark04;
}
.wf-active header h1 {
  font-family: Europa, Consolas, Menlo, Monaco, monospace;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  margin: 0;
  padding: .5em 0;
}
::selection, ::moz-selection {
  text-shadow: none;
  background: $base06;
}

@include mq($from: desktop) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    padding: .5em 0 .5em 1em;
  }
}

