/* latin-ext */
// @font-face {
//   font-family: 'Source Code Pro';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD4a1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.wf-active p code,
.wf-active ul code,
.wf-active ol code
.wf-active pre[class*="language-"],
.wf-active code,
.wf-active pre {
  font-family: $wf-monospace;
}
.wf-europa-n4-active body,
.wf-europa-n3-active header h1,
.wf-europa-n4-active h2,
.wf-europa-n4-active h3,
.wf-europa-n7-active h4,
.wf-active blockquote,
.wf-europa-n7-active blockquote::after,
.wf-europa-i4-active i,
.wf-europa-i4-active em,
.wf-europa-i7-active strong em,
.wf-europa-n7-active b,
.wf-europa-n7-active strong,
.wf-europa-n4-active .publication-list__item__title {
  font-family: $wf-bodytext;
}
.wf-europa-n3-active header h1,
.wf-europa-n3-active h2 {
  font-weight: $fw-light;
}
.wf-europa-n4-active body,
.wf-europa-i4-active i,
.wf-europa-i4-active em,
.wf-europa-n4-active .publication-list__item__title,
.wf-europa-n4-active h3 {
  font-weight: $fw-medium;
}
.wf-europa-n7-active blockquote::after
.wf-europa-i7-active strong em,
.wf-europa-n7-active b,
.wf-europa-n7-active strong,
.wf-europa-n7-active h4 {
  font-weight: $fw-bold;
}
.wf-poplarstd-n4-active .dropcap {
 font-family: $wf-heavy;
}
