// @font-face {
//     font-family: 'SonrisaThin';
//     src: url('http://atelierbram.github.io/type/sonrisa-thin/sonrisa-thin-trial-webfont.woff2') format('woff2'),
//          url('http://atelierbram.github.io/type/sonrisa-thin/sonrisa-thin-trial-webfont.woff') format('woff'),
//          url('http://atelierbram.github.io/type/sonrisa-thin/sonrisa-thin-trial-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
//
@font-face {
  font-family: "brandosans-regular-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regular-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regular-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandosans-semibold-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibold-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibold-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brando";
  src: url('http://atelierbram.github.io/type/Brando/brando-regular.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando/brando-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brando Italic";
  src: url('http://atelierbram.github.io/type/Brando/brando-regularitalic.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando/brando-regularitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brando SemiBold";
  src: url('http://atelierbram.github.io/type/Brando/brando-semibold.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando/brando-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
