@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.wf-active p code,
.wf-active ul code,
.wf-active ol code,
.wf-active pre[class*="language-"],
.wf-active code,
.wf-active pre {
  font-family: $wf-monospace;
}

.wf-active body,
.wf-active header h1,
.wf-active h2,
.wf-active i,
.wf-active em,
.wf-active strong em,
.wf-active b,
.wf-active strong {
  font-family: $wf-bodytext;
  font-weight: normal;
  font-style: normal;
}

.wf-active blockquote,
.wf-active blockquote::after,
.wf-active i,
.wf-active em {
  font-family: $wf-bodytext-italic;
  font-style: normal;
}

.wf-active .publication-list__item__title,
.wf-active h4,
.wf-active .read-more,
.wf-active h3,
.wf-active h5,
.wf-active .nav ul,
.wf-active .prevnext h5 {
  font-family: $wf-subheader;
  font-weight: normal;
}

.wf-active [id="resources"] ~ ul li,
.wf-active .note,
.wf-active footer small {
  font-family: $wf-sans-regular;
  font-weight: normal;
}

.wf-active .dropcap {
 font-family: $wf-heavy;
}
