@import "color-vars";

footer {
  color: $dark_green-yellow;
  background-color: $ui-bg-color;
  border-top: 1px solid $base04;
  margin-top: 1em;
  // @include mq($from: desktop) {
  //   margin-top: 6em;
  // }
}
.no-js footer,
.no-flexbox footer {
  position: fixed;
  bottom:0;left:0;right:0;
  z-index: 1;
}
footer a {
  color: $dark_green-yellow01;
  display: inline-block;
  padding: 1.5em 0;
}
