.has-moved-h2 {
  font-family: $wf-header !important;
}
header,
footer {
  text-align: center;
}
header {
  // background-color: adjust-color($base07,$lightness: 1.5%);
  background-color: $base07;
  min-height: 4rem;
  @include mq($from: tablet) {
    border-bottom: 1px solid $base06;
  }
}
header h1 {
  font-size: 1.75rem;
  line-height: 1.25;
  margin: 0;
  padding: .5rem 3rem .25rem 1rem;
  text-align: right;
  font-weight: normal;

  @include mq($until: tablet) {
    margin-left: 3em;
    padding-right: 1rem;
    font-size: 1rem;
  }
}
header h1,
header h1 a {
  color: $base05;
}
h2 {
  font-size: 2.25rem;
  font-family: AvenirNextCondensed-Regular, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight: normal;
  color: $yellow-orange;
}

