.note {
  @extend %box-shadow;
  @extend %rounded;
  // display: block;
  float: right;
  font-size: .875rem;
  margin: 3em 0 2em;
  padding: 1.5em 1.5em 1.75em;
  background-color: $light_yellow00;
  border: 1px solid $light_yellow;
}
