.nav ul li {
  margin: 3px;
}
.nav a {
  font-size: 1rem;
  text-decoration: none;
  transition: background-color .4s, color .3s, border-color .3s;
  display: block;
  border-radius: .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  color: transparent;
  transition: color .5s;
}
.has-nav-active .nav a {
  color: $nav-color;
}
.no-js .nav a {
  color: #257fad;
}
.no-js .nav,
.has-nav-active .nav {
  height: auto;
  padding: 1rem 0 2rem;
  overflow: visible;
  background-color: #fff;
}
.has-nav-active .nav {
  position: fixed;
  top: auto; right: 0; left: 0;
  z-index: 1;
  border-bottom: 1px solid $light04;
  box-shadow: 0 8px 12px rgba(black,.25);
}
.has-nav-active {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.no-flexbox body,
.no-js body {
  position: relative;
}
.nav .active,
.nav a:hover,
.nav a:active,
.nav a:focus {
  border-color: adjust-color($nav-color,$lightness: 20%);
}
.nav .active {
  pointer-events: none;
  cursor: default;
}
// home icon
.nav ul li:first-child a {
  width: 2.5em;  // 40px
  height: 2.5em;
  overflow: hidden;
  color: #fff;
  color: transparent;
  background: #fff url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23257FAD%22%20d%3D%22M33.4%2C36h-9.736C23.299%2C36%2C23%2C35.702%2C23%2C35.334V26h-6v9.334C17%2C35.702%2C16.707%2C36%2C16.34%2C36H6.7%20C6.332%2C36%2C6%2C35.702%2C6%2C35.334V19H4.667c-0.277%2C0-0.526-0.172-0.624-0.433c-0.098-0.261-0.022-0.553%2C0.187-0.737L19.556%2C4.18%20c0.25-0.219%2C0.624-0.219%2C0.874%2C0L24%2C7.277V4.682c0-0.368%2C0.292-0.665%2C0.657-0.665L30.4%2C4.016c0.366%2C0%2C0.6%2C0.299%2C0.6%2C0.667V13%20l4.756%2C4.831c0.208%2C0.184%2C0.285%2C0.476%2C0.187%2C0.737C35.845%2C18.828%2C35.596%2C19%2C35.318%2C19H34v16.334C34%2C35.702%2C33.77%2C36%2C33.4%2C36z%20M25%2C34h7V17l-3-3V6h-3v3.74c0%2C0.261-0.168%2C0.544-0.406%2C0.651c-0.235%2C0.109-0.516%2C0.203-0.969-0.016C24.605%2C10.365%2C20%2C6.5%2C20%2C6.5%20L8%2C17v17h7v-9.33c0-0.369%2C0.293-0.67%2C0.661-0.67h8.663c0.366%2C0%2C0.666%2C0.301%2C0.666%2C0.67L25%2C34z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A') no-repeat 0 0;
}
