@import "color-vars";

$monospace: Consolas, Menlo, Monaco, monospace;
$wf-monospace: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
$wf-bodytext: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-bodytext-italic: "Brando Italic", Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-subheader: telefonregular, AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
$wf-subheader-light: telefonregular, AvenirNextCondensed-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
$wf-heavy: phattphreddyregular, PhatPhreddy, Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
$wf-header: SonrisaThin, Europa, AvenirNextCondensed-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
$fw-light: 300;
$fw-medium: 400;
$fw-bold: 700;
$box-shadow: 1px 1px 0 $base06;
$rounded: 3px;
