.page p:first-of-type,
.page p:first-of-type em {
  font-weight: 400;
}
.page p:first-of-type {
  font-size: 1.75em;
}
.page pre + h3 {
  margin-top: 2rem;
}
.page h3 + p {
  margin-top: 1px;
  border-top: 1px solid $base01;
  position: relative;
}
// cut a piece of the long line
.page h3 + p::after {
  content: "";
  position: absolute;
  top:0;right:0;
  width: 215px;
  height: .5rem;
  background-color: #fff;
  margin-right: -221px;
  margin-top: -5px;
}
.no-flexbox p {
  max-width: 32em;
}
.page ul,
.page ol {
  margin: 0 0 -2em -2.5rem;
  padding-bottom: 1.5em;
}
h4 + ul,
h4 + ol {
  padding-top: .25em;
  margin-bottom: -2em;
}
.page ul li {
  list-style: none;
  position: relative;
  margin-left: -.75em;
  margin-top: 0;
  padding-left: .75em;
}
.page ul li,
.page ol li {
  max-width: 43em;
}
.page ul li::before {
  content: "";
  position: absolute;
  top:.665em;left:0;
  padding: 1px;
  height: 1px;
  width: 1px;
  background-color: $green;
  border: 1px solid $dark_green06;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
}
.wf-europa-n4-active .page ul li::before {
  top: .8em;
}
blockquote p  {
  position: relative;
  z-index: 1;
  font-size: 24px !important;
  font-size: 1.5rem !important;
}
blockquote::after {
  content: "“";
  position: absolute;
  top:0;left:0;
  margin: -16px 0 0 -30%;
  padding: 0;
  width: 315;
  height: 225px;
  font: 664px/.8 "Trebuchet MS", Georgia, serif;
  color: $base05;
  z-index: 0;
  overflow: hidden;
}
.wf-europa-n7-active blockquote::after {
  font-style: italic;
  margin: -40px 0 0 -40%;
}
hr,
pre,
.note,
sup span {
  box-shadow: $box-shadow;
}
pre,
.note,
sup span {
  border-radius: $rounded;
}
.note,
sup span {
  background-color: $light_yellow00;
  border: 1px solid $light_yellow;
}
.note {
  float: right;
  font-size: .875rem;
  margin: 3em 0 2em;
  padding: 1.5em 1.5em 1.75em;
}
.prevnext {
  clear: both;
  margin-bottom: 2em;
}
.prevnext h5:nth-of-type(1) {
  padding-left: 1em;
}
.prevnext h5:nth-of-type(2) {
  text-align: right;
  padding-right: 1em;
}

.prevnext h5 a {
  position: relative;
  display: block;
  padding: .25em 0;
  color: $dark03;
  text-decoration: none;
  transition: color .3s;
}
.prevnext h5 a:hover {
  color: $red;
}
.prevnext h5 a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  margin-top: .4em;
  transition: border .3s;
}
.wf-europa-i4-active .prevnext h5 a::after {
  margin-top: .55em;
}
.prevnext [rel="prev"]::after {
  left: 0;
  border-top: .5em solid transparent;
  border-right: .5em solid $dark04;
  border-bottom: .5em solid transparent;
  margin-left: -1em;
}
.prevnext [rel="next"]::after {
  right: 0;
  border-top: .5em solid transparent;
  border-left: .5em solid $dark04;
  border-bottom: .5em solid transparent;
  margin-right: -1em;
}

.prevnext [rel="prev"]:hover::after {
  border-right-color: $red;
}
.prevnext [rel="next"]:hover::after {
  border-left-color: $red;
}
// * { outline: 1px dotted salmon; }
// figure {
//   margin: 1em auto 1em 0;
//   max-width: 40em;
// }
// figcaption pre {
//   background-color: #f8f8f8;
//   margin-top: -.6em;
//   white-space: pre-line;
//   padding-top: 2em;
// }
