@charset "utf-8";
@charset "UTF-8";
.title-post {
  font-family: "Brando ExtraLight", AvenirNext-UltraLight, AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
}
@media (min-width: 61.25em) {
  .title-post {
    letter-spacing: -1px;
    word-spacing: 1px;
  }
}

header,
footer {
  text-align: center;
}

header {
  background-color: #f5f7ff;
  min-height: 4rem;
}
.theme-dark header {
  background-color: #202746;
}

header h1 {
  font-size: 1.75rem;
  line-height: 1.25;
  margin: 0;
  padding: 0.5rem 1.5rem 0.25rem 1rem;
  text-align: right;
  font-weight: normal;
}
@media (max-width: 39.99em) {
  header h1 {
    margin-left: 3em;
    padding-right: 1rem;
    font-size: 1rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: normal;
  color: #22a2c9;
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  color: #293256;
  margin: 16px 4px 0.5rem 1px;
  padding: 4px 0 0 0;
  float: left;
  line-height: 0.65;
  font-size: 83px;
  height: 0.65em;
  -webkit-font-smoothing: antialiased;
}
.theme-dark .publication-list__item__content p:first-of-type:first-letter,
.theme-dark .page > p:first-of-type:first-letter {
  color: hsl(229deg, 23%, 68%);
}

@media (min-width: 40em) {
  .page > p:first-of-type:first-letter {
    font-size: 147px;
  }
}

@media (min-width: 40em) {
  .page-type-index .publication-list__item__content p:first-of-type:first-letter {
    font-size: 129px;
  }
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 a {
  pointer-events: none;
  cursor: default;
}

.content {
  padding: 0 1em;
  margin-bottom: 3em;
  background-color: #fff;
}
.theme-dark .content {
  background-color: hsl(229deg, 29%, 14%);
}

.publication-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
@media (min-width: 40em) {
  .publication-list {
    font-size: 1.125rem;
    row-gap: 3.35rem;
  }
}
@media (min-width: 70.25em) {
  .publication-list {
    row-gap: 4.5rem;
  }
}

.publication-list__item {
  flex: 1 100%;
  max-width: 30em;
  flex-basis: 30em;
  margin: 0;
  padding: 1em;
}
@media (min-width: 768px) {
  .publication-list__item {
    flex: 1 1 30em;
  }
}

.no-flexbox .publication-list__item {
  display: inline-block;
  margin-right: 1em;
}

.publication-list__item__title {
  margin: 1.75em 0 0.25em;
}

h3 a {
  color: hsl(229deg, 23%, 32%);
  padding: 0.6rem;
  display: block;
  transition: color 0.3s;
}
.theme-dark h3 a {
  color: hsl(229deg, 25%, 74%);
}

h3 a:hover {
  text-decoration: none;
  color: #c94922;
  background-color: transparent;
}

.publication-list__item__content,
.truncate {
  overflow: hidden;
}

.publication-list__item__content p {
  line-height: 1.33334;
}
@media (min-width: 70.25em) {
  .publication-list__item__content > p:first-child {
    flex-basis: 14rem;
  }
}
@media (min-width: 40em) {
  .publication-list__item__content {
    display: flex;
    flex-direction: column;
  }
}

.read-more {
  display: block;
  position: relative;
  padding: 0.5em 0.5em 0.5em;
  text-align: right;
  margin-top: 0.4rem;
  font-size: 0.875em;
  border-radius: 3px;
  clear: both;
  transition: all 0.4s;
  color: #898ea4;
}
.read-more:hover, .read-more:active {
  text-decoration: none;
  color: #293256;
  background-color: #dfe2f1;
}
.read-more:focus {
  outline: 1px dotted #979db4;
}
.theme-dark .read-more {
  color: hsl(229deg, 12%, 50%);
}
.theme-dark .read-more:hover, .theme-dark .read-more:active {
  background-color: #202746;
}
@media (min-width: 40em) {
  .read-more {
    text-align: left;
    padding-right: 0;
  }
}

.icon-arrow-right {
  width: 0.875em;
  height: 0.875em;
  transition: margin 0.6s;
}

@media (min-width: 40em) {
  .theme-dark .read-more:hover .icon-arrow-right {
    margin-left: 76.4%;
  }
}
@media (min-width: 40em) {
  .read-more:hover .icon-arrow-right {
    margin-left: 78%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: #dfe2f1 #f5f7ff;
}
html.theme-dark {
  scrollbar-color: hsl(229deg, 25%, 26%) #202746;
}

html,
body {
  height: 100%;
  background: #fff;
  font-family: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
}

.theme-dark,
.theme-dark body {
  background-color: hsl(229deg, 29%, 14%);
  color: #f5f7ff;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  background: inherit;
  color: #090a10;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
  hyphens: auto;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -4em;
  padding-bottom: 4em;
  overflow: auto;
  position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page a {
  box-shadow: inset 0 -2px 0 #b9d6ee;
  transition: all 0.3s ease-out;
}
.theme-dark .page a {
  box-shadow: inset 0 -2px 0 #25679c;
}

.page a:hover,
.page a:focus,
.page a:active {
  box-shadow: inset 0 -2em 0 #b9d6ee;
}
.theme-dark .page a:hover,
.theme-dark .page a:focus,
.theme-dark .page a:active {
  box-shadow: inset 0 -2em 0 #25679c;
}

header h1 a {
  color: #979db4;
}

header h1 a:hover,
footer a:hover {
  color: #c94922;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sup {
  font-size: 0.6em !important;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5rem;
  left: -0.25rem;
}

code {
  font-size: 1em;
}

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}

pre code:before,
pre code:after {
  content: normal;
}

code,
pre,
p code,
ul code,
ol code,
header h1 {
  font-family: Consolas, Menlo, Monaco, monospace;
}

p code,
ul code,
ol code {
  font-size: 0.85em;
  margin: 0;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  padding: 1px 0;
  border-radius: 3px;
  color: #723316;
}
.theme-dark p code,
.theme-dark ul code,
.theme-dark ol code {
  border-color: hsl(229deg, 27%, 20%);
  background-color: #202746;
  color: #e8a586;
}

p code:before,
p code:after,
ul code:before,
ul code:after,
ol code:before,
ol code:after {
  content: " ";
  letter-spacing: -0.2em;
}

strong em {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

p {
  margin: 0;
  padding: 0.5em 0;
}
.theme-dark p {
  word-spacing: 0.05em;
  letter-spacing: 0.05em;
}

.content-home h3 {
  font-size: 1.125em;
  line-height: 1.25;
  margin-bottom: 0.15em;
}
@media (min-width: 40em) {
  .content-home h3 {
    font-size: 1.25em;
    margin-bottom: 0.25em;
  }
}

.page h3,
.page h4 {
  font-size: 1.25em;
  line-height: 1;
}
@media (min-width: 40em) {
  .page h3,
  .page h4 {
    font-size: 1.35em;
  }
}

img,
svg {
  border: 0;
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

.icon {
  display: inline-block;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #dfe2f1;
}
.theme-dark ::-webkit-scrollbar-track {
  background-color: #202746;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #dfe2f1;
}
.theme-dark ::-webkit-scrollbar {
  background-color: #293256;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #979db4;
  border: 3px solid #dfe2f1;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.theme-dark ::-webkit-scrollbar-thumb {
  background-color: hsl(229deg, 25%, 26%);
  border-color: #202746;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #f5f7ff;
}
.theme-dark ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #202746;
}

.publication-list__item__meta {
  font-size: 1rem;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: center;
  z-index: 1;
  position: relative;
  color: #979db4;
  background-color: #fff;
  padding-top: 0;
  max-width: 100%;
}
.theme-dark .publication-list__item__meta {
  color: hsl(229deg, 15%, 56%);
  background-color: hsl(229deg, 29%, 14%);
}

.page .publication-list__item__meta {
  margin: 0.15em 0 4.25em;
}

.publication-list__item__meta:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.6em;
  right: 0.6em;
  z-index: -1;
  border-top: 1px solid #c3c7d4;
  margin-top: 0.78em;
}
.theme-dark .publication-list__item__meta:after {
  border-top-color: hsl(229deg, 20%, 38%);
}

time {
  background-color: #fff;
  padding: 0 1em;
}
.theme-dark time {
  background-color: hsl(229deg, 29%, 14%);
}

.prevnext {
  clear: both;
  margin-bottom: 1.125em;
  padding-top: 8em;
  overflow: auto;
}
.prevnext li,
.prevnext a {
  display: inline-block;
}
.prevnext a {
  color: hsl(229deg, 25%, 26%);
  padding: 0.125em 0.65em;
}
.prevnext a:hover {
  color: #c94922;
  box-shadow: none !important;
}
.prevnext a:hover svg {
  fill: #c94922;
}
.theme-dark .prevnext a {
  color: hsl(229deg, 12%, 50%);
}
.theme-dark .prevnext a:hover {
  color: #e6886b;
}
.theme-dark .prevnext a:hover svg {
  fill: #e6886b;
}
.prevnext_pagenumbers {
  list-style: none;
  text-align: center;
  border-top: 1px solid #c3c7d4;
  padding-top: 2em;
}
.theme-dark .prevnext_pagenumbers {
  border-top-color: hsl(229deg, 20%, 38%);
}
.prevnext_pagenumbers_item-number {
  margin: 0 0.25em;
}
.prevnext_pagenumbers_item-number a {
  border: 1px solid transparent;
}
.prevnext_pagenumbers_item-number a:hover, .prevnext_pagenumbers_item-number a.selected {
  border-color: #c3c7d4;
}
.prevnext_pagenumbers_item-number a.selected {
  cursor: default;
  pointer-events: none;
}
.theme-dark .prevnext_pagenumbers_item-number a:hover, .theme-dark .prevnext_pagenumbers_item-number a.selected {
  border-color: hsl(229deg, 20%, 38%);
}

.page-type-index .prevnext {
  padding-left: 2rem;
  padding-right: 2rem;
}

.prevnext h5 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}
@media (min-width: 61.25em) {
  .page-type-post .prevnext h5 {
    width: 50%;
  }
}

@media (min-width: 61.25em) {
  .page-type-post .prevnext .prevnext_left {
    float: left;
  }
  .page-type-post .prevnext .prevnext_right {
    float: right;
  }
}

.prevnext .prevnext_right,
.prevnext h5:nth-of-type(2) {
  text-align: right;
}

.prevnext h5 a {
  position: relative;
  display: block;
  padding: 0.25em 0 0.65em;
  text-decoration: none;
  transition: color 0.3s;
  border-bottom: none;
  box-shadow: none !important;
}

.shape-icon {
  fill: #293256;
}
.theme-dark .shape-icon {
  fill: hsl(229deg, 12%, 50%);
}

.icon-8 {
  width: 10px;
  height: 15px;
  margin-top: -1px;
  vertical-align: top;
}

.icon-arrow-left {
  margin-right: 0.25em;
}

.icon-arrow-right {
  margin-left: 0.25em;
}

footer {
  color: #133913;
  background-color: #979db4;
  border-top: 1px solid #898ea4;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 4em;
}
.theme-dark footer {
  color: hsl(229deg, 25%, 74%);
  background-color: hsl(229deg, 23%, 32%);
  border-top-color: hsl(229deg, 20%, 38%);
}

.no-js footer,
.no-flexbox footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

footer a {
  color: #0d260d;
  display: inline-block;
  padding: 1.5em 0;
}
.theme-dark footer a {
  color: hsl(229deg, 25%, 74%);
}
.theme-dark footer a:hover {
  color: hsl(229deg, 31%, 92%);
}

.theme-switch {
  position: absolute;
  z-index: 0;
  top: 3.5rem;
  right: 1.25rem;
  color: hsl(229deg, 20%, 62%);
}
.page-type-index .theme-switch {
  right: auto;
  left: 1.25rem;
  top: 0.75rem;
}
.theme-switch_toggle {
  display: none;
}
.theme-switch_toggle:hover + .theme-switch_label {
  color: #3099cd;
}
.theme-switch_label {
  outline: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clear {
  overflow: auto;
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(//fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
p code,
ul code,
ol code,
pre[class*=language-],
code,
pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
}

.small-caps,
body,
header h1,
h2,
i,
em,
strong em,
b,
strong {
  font-family: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.theme-dark .small-caps,
.theme-dark body,
.theme-dark header h1,
.theme-dark h2,
.theme-dark i,
.theme-dark em,
.theme-dark strong em,
.theme-dark b,
.theme-dark strong {
  font-family: "Brando ExtraLight", AvenirNext-UltraLight, AvenirNext-Regular, Corbel, "Segoe Ui", "Lucida Grande", "Lucida Unicode", "Trebuchet Ms", Verdana, "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
}

blockquote,
blockquote::after,
i,
em {
  font-family: "Brando Italic", Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-style: normal;
}

blockquote dt,
.publication-list__item__title,
h4,
.read-more,
h3,
h5,
.prevnext h5,
footer small {
  font-family: brandosans-semibold-v100, AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
  font-weight: normal;
}

figcaption,
.nav ul,
.theme-dark blockquote dt,
.theme-dark .publication-list__item__title,
.theme-dark h4,
.theme-dark .read-more,
.theme-dark h3,
.theme-dark h5,
.theme-dark .prevnext h5,
.theme-dark footer small,
[id=examples] ~ ul li,
[id=resources] ~ ul li,
[id=demo] ~ ul li,
.note,
.note i,
footer small a {
  font-family: brandosans-regular-v100, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
  font-weight: normal;
}

.theme-dark [id=examples] ~ ul li,
.theme-dark [id=resources] ~ ul li,
.theme-dark [id=demo] ~ ul li,
.theme-dark footer small a {
  letter-spacing: 1px;
}

.publication-list__item__content p:first-of-type:first-letter,
.page > p:first-of-type:first-letter {
  font-family: "Brando Semibold", Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
}

/*# sourceMappingURL=home.css.map */