---
layout: default
title: Documenting a Learning Curve
long_title:  Frontend Webdesign Blogposts by Bram de Haan
description: documenting a learning curve on frontend webdesign by Bram de Haan, also known as Atelierbram on social media
index_type:  home
id:          id_00
generator: pagination
pagination:
    max_per_page: 12
use: [posts]
---

{% block content %}

<svg style="display:none"><symbol id="shape-arrow" viewBox="0 0 20 20"><path fill="#3f4664" d="M1.244,7.91h12.578L9.707,3.809l1.969-1.982l7.547,7.533l-7.547,7.533l-1.969-1.969l4.129-4.129H1.244V7.91z"/></symbol></svg>

 <section class="content content-home"><ul class="publication-list publication-list--articles">
        {% for post in page.pagination.items %}
        <li class="publication-list__item">
          <h3 class="publication-list__item__title"><a href="{{ post.slug_posts }}/{{ post.slug }}">{{ post.index_title }}</a></h3>
          {% if post.blocks.excerpt %}
          {{ post.blocks.excerpt|raw }}
          {% else %}
          <p class="publication-list__item__meta"><time datetime="{{ post.date_machine}}">{{ post.date_human }}</time></p>
          <div class="publication-list__item__content">
            <p>
            {{ post.blocks.content|raw|striptags|split(' ')|slice(0,40)|join(' ') }} &hellip;
            {% endif %}

            <a href="{{ post.url }}" class="read-more">read rest of article <i class="icon icon-arrow-right">
                <svg class="shape-icon" viewBox="0 0 20 20" width="20" height="20">
                  <use xlink:href="#shape-arrow"></use>
                </svg>
              </i></a>
              </p>
          </div>
        </li>

        {% endfor %}
   </ul>

   {% if page.pagination.previous_page or page.pagination.next_page %}
   <ul class="pager">
     {% if page.pagination.previous_page %}
     <li class="next"><a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer →</a></li>
     {% endif %}
     {% if page.pagination.next_page %}
     <li class="previous"><a href="{{ site.url }}{{ page.pagination.next_page.url }}">← Older</a></li>
     {% endif %}
   </ul>
 </section>
 {% endif %}
 {% endblock %}
