---
layout:         default
title:          Documenting a Learning Curve
long_title:     Frontend Webdesign Blogposts by Bram de Haan
description:    documenting a learning curve on frontend webdesign by Bram de Haan, also known as Atelierbram on social media
page_type:      index
id:             id_00
generator:      pagination
pagination:
  max_per_page: 12
use: [posts]
---

{% block content %}

<svg style="display:none"><symbol id="shape-arrow" viewBox="0 0 20 20"><path fill="#3f4664" d="M1.244,7.91h12.578L9.707,3.809l1.969-1.982l7.547,7.533l-7.547,7.533l-1.969-1.969l4.129-4.129H1.244V7.91z"/></symbol></svg>

 <section class="content content-home"><ul class="publication-list publication-list--articles">
        {% for post in page.pagination.items %}
        <li class="publication-list__item">
          <h3 class="publication-list__item__title"><a href="{{ site.slug_posts }}/{{ post.slug }}">{{ post.index_title }}</a></h3>
          {% if post.blocks.excerpt %}
          {{ post.blocks.excerpt|raw }}
          {% else %}
          <p class="publication-list__item__meta"><time datetime="{{ post.date_machine|replace({'_':'-'}) }}">{{ post.date_human }}</time></p>
          <div class="publication-list__item__content">
            <p>
            {{ post.blocks.content|raw|striptags|split(' ')|slice(0,40)|join(' ') }} &hellip;
            {% endif %}

            <a href="{{ site.slug_posts }}/{{ post.slug }}" class="read-more">read rest of article <i class="icon icon-arrow-right">
                <svg class="shape-icon" viewBox="0 0 20 20" width="20" height="20">
                  <use xlink:href="#shape-arrow"></use>
                </svg>
              </i></a>
              </p>
          </div>
        </li>

        {% endfor %}
   </ul>
 </section>

 {% if page.pagination.previous_page or page.pagination.next_page %}
 <nav class="prevnext">
   {% if page.pagination.next_page %}
   <h5 class="prevnext_left"><a href="{{ site.url }}{{ page.pagination.next_page.url }}" rel="next"><i class="icon icon-8 icon-arrow-left"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-left"></use></svg></i>older posts</a></h5>
   {% endif %}
   {% if page.pagination.previous_page %}
   <h5 class="prevnext_right"><a href="{{ site.url }}{{ page.pagination.previous_page.url }}" rel="prev">newer posts<i class="icon icon-8 icon-arrow-right"><svg class="shape-icon" viewBox="0 0 8 12" width="10" height="15"><use xlink:href="#shape-arrow-point-right"></use></svg></i></a></h5>
   {% endif %}
 </nav>
 {% endif %}

 {% endblock %}
